html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #dbd6cf;
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0.3em;
}

h1 {
  display: inline-block;
  font-family: "Bevan", cursive;
  font-size: 2rem;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  border-radius: 10%;
  background-color: #713837;
}

a {
  color: #fff;
  text-decoration: none;
}

ul li:first-child {
  padding: .6em;
}

ul li:nth-child(2) {
  padding: .6em;
}

ul li:nth-child(3) {
  padding: 0.6em;
}

ul li:nth-child(4) {
  padding: 0.6em;
}
