html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #79756f;
}

body {
  margin: 0.3em;
}

h1 {
  display: inline-block;
  font-family: "Bevan", cursive;
  font-size: 2rem;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}
