html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #dbd6cf;
  font-family: sans-serif;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #79756f;
  border-top: #595652 solid;
  border-bottom: #595652 solid;
}

h1 {
  font-family: "Bevan", serif;
  color: #fff;
  margin: 0;
}

nav {
  padding: .6em;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: .5em .75em;
  border-radius: 3px;
  margin: .3em 0;
  background-color: #713837;
}

a:hover {
  background-color: #fff;
  color: #f33;
}
